.navbar{
    background-color: rgb(231, 99, 220);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
nav{
    display: grid;
    border: 2px solid blue;
    flex-direction: row;
}
li{
    list-style: none;
}