<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box1">
        <h1 class="sertext">SERVICES</h1>
        <div class="menu">
            <div class="service">
                <img src="../../assets/liver.png" alt="Analasis report">
                <h3>Liver Function Test</h3>
                <p>Get Insights into you liver Health with our comprehensive online checker</p>
            </div>
            <div class="service">
                <img src="../../assets/diabetes.jpg" alt="Analasis report">
                <h3>Type 2 Diabetes Test</h3>
                <p>Easily check your risk level for type 2 Diabetes with our online test.</p>
            </div>
            <div class="service">
                <img src="../../assets/overall.jpg" alt="Analasis report">
                <h3>Overall Health Checkup</h3>
                <p>Access your heart's health and discover any potential risks early on</p>
            </div>
        </div>
    </div>
</body>
</html>