<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <div class="navbar">
    <div class=""><li><a routerLink="/">Home</a></li></div>
    <div class=""><li><a routerLink="/about">About</a></li></div>
    <div class=""><li><a routerLink="/contact">Contact</a></li></div>
    <div class=""><li><a routerLink="/signout"><button>Sign-out</button></a></li></div>
  </div>
  <router-outlet></router-outlet> -->
  <!-- <app-signup></app-signup> -->
  <!-- <router-outlet></router-outlet> -->
   <app-header></app-header>
   
</body>
</html>